html, body {
    margin: 0;
    padding: 0;
}

html {
    background: url('background-min.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

article {
    margin-top: 7rem;
}

article h1 {
    font-size: 5em;
    font-weight: normal;
    margin: 0;
}

.content-container {
    margin-top: 4rem;
    display: flex;
    align-items: baseline;
}

i {
    margin-right: 1rem;
}

.quote {
    font-size: 1.4em;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0;
    font-style: italic;
}

.author {
    font-size: 1rem;
    margin: .5rem 0;
    opacity: 0.5;
    text-align: left;
}

.link-container {
    margin-top: 55px;
    text-align: left;
}

a {
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

a:first-of-type {
    margin-right: 30px;
}

a:hover {
    background-color: #d6d6d6;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px ) {
    html {
        /*fix for ios mobile*/
        background-attachment: initial;
    }

    article h1 {
        font-size: 8em;
    }

    .content-container {
        width: 80%;
        margin: 3rem auto 0 auto;
    }

    .quote {
        font-size: 3em;
        text-align: center;
    }

    .author {
        text-align: center;
        font-size: 2rem;
    }

    .link-container {
        text-align: center;
        font-size: 2.2em;
        margin-top: 100px;
    }

    a {
        padding: 20px;
    }
}

@media (max-width: 800px) {
    article h1 {
        font-size: 4em;
    }

    article p {
        text-align: center;
    }

    .link-container {
        text-align: center;
    }
}
